#footer {
  @extend .hero;
  background-image: url("/assets/intro-min.jpg");

  .footerSocial {
    
    svg {
      padding: 20px;
      color: #fff;
      font-size: 1.5em;
      @include pulsate;
    }
  }

  @include susy-breakpoint(0 $small) {
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c6ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

