.screenshot {
  margin: auto;
  display: block;
  @include size(auto 100%);
}

.bracket {
  padding: 5px;
  @include size(auto 33px);
  @include susy-breakpoint($medium) {
    padding: 20px;
    @include size(auto 50px);
  }
}

.icon {
  @extend .bracket;
  @include pulsate;
}

.label {
  display: block;
  margin-top: 10px;

  @include susy-breakpoint($medium) {
    display: table-cell;
    vertical-align: middle;
  }
}

.octocat {
  margin: 10px;
  @include size(auto 100px);
  @include pulsate;
}

.fa-link {
  @include pulsate;
}

#Tie-Chai {
  @include project($color3, $white, $blue);
  a {
    text-decoration: none;
  }
}

#Readdit {
  @include project($color6, $white, $orange);
  .projectDescription {
    text-align: center;
  }
}

#Foolter {
  @include project($color4, $white, $brown);
  .projectDescription {
    text-align: center;
  }
}

#Seethroughme {
  @include project($color4, $white, $yellow);
}

#ReUp {
  @include project($color4, $white, $green);
}

#Shuriken {
  @include project($color4, $white, $red);
}

#Shufflr {
  @include project($color3, $white, $brown);
}